#navbar li{
text-decoration: initial;
margin-top: 4px;
}
#navbar ul{
list-style-type: none;
text-align: center;
padding: 0 0 0 0;
margin: 0 0 0 0;
}
#navbar ul li{
display: inline;
}
#navbar ul li a{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}
#navbar ul li a:hover
{
color: #fff;
background-color: #369;
}
a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
#teamname{
padding-left: 10px;
padding-top: 9px;
font-size: 140%;
}
#navbar{ 
text-align: middle;
width: 100%;
padding: 0 0 0 0;
margin: 0 0 0 0;
height: px;
text-decoration: none;
background-color: purple;
border-radius:10px;
margin: 5px solid black;
}
button{
border: 2px solid black;
margin-top: 12px;
border-radius: 5px;
margin-left: 100px;
margin-right: 100px;
}
#teamlogo{
width: 175px;
height: 145px;
margin-top: 10px;
margin-left: 10px;
}
#backgroundimage{
width: 100%;
background-color:;
margin-top: 100px;

}
#bottominfo{
background-color: #4e3260;
height:680px;
margin-top: 500px; 
width: 100%;
}
#Infobox{
margin-left: 50px;
width: 400px;
height: 200px;
background-color: lightblue;
margin-top: 40px;
}
#show{
height: 450px;
width: 700px;
background-color: lightgreen;
position: absolute;
margin-left: 540px;
margin-bottom: 500px;
z-index:10; 
float: none;
position: absolute;
}
